{% extends "lightsite/base.html" %}
{% load staticfiles %}
{% block content %}

    <div class="app_login">

        Компания <span style="font-weight: bolder;font-size: larger;">{{ form.instance.company.name }}</span>
        (редактирование страницы-представления)
    </div>
    <div class="app_content">
        <form id="saveForm" method="post" action="{% url 'company-edit' form.instance.company.pk %}">
            {% csrf_token %}

            <div class="row app_row">
                {{ form.media }}
                {{ form.html|safe }}
            </div>
            <div class="row app_row">
                <button  id="button_save" class="btn btn-success">Сохранить изменения</button>
                <img id="spinner_load" src="{% static 'lightsite/images/2.GIF' %}"
                     style="visibility:hidden;  "/>
            </div>
        </form>
    </div>

    <script type="text/javascript" src="{% static "lightsite/js/edit_company.js" %}"></script>
{% endblock %}