{% extends "lightsite/base.html" %}
{% load staticfiles %}
{% block content %}


    <div class="app_photo_list">
        <div class="container">

            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-6">
                        <h2> Ищем картинку:</h2>
                        {% if photo %}
                            <div><img id="current_photo" src="{{ MEDIA_URL }}{{ photo }}" style="width: 300px"/>
                                </div>
                        {% else %}
                            картинка пока не загружена
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <button id="start_load" type="button" class="btn btn-lg btn-success"
                                style="margin-top: 20px">
                            Загрузить новую картинку
                        </button>
                        <img id="spinner_load" src="{% static 'lightsite/images/468.GIF' %}"
                             style="visibility:hidden;  "/>

                        <form id="myFormLoad" action="{% url 'main' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input id="photo" name="photo" type="file" style="visibility:hidden">
                        </form>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <h2> Результаты:</h2>

                        <div id="results" class=app_photo>

                        </div>

                        <form id="myFormResults" action="{% url 'search' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input id="photo" name="photo" value="{{ photo }}" style="visibility:hidden">
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <script type="text/javascript" src="{% static "js/search_file_load.js" %}"></script>
{% endblock %}


