{% extends "base.html" %}

{% block content %}
    <h1>Фоткиииии</h1>

    <ul>
        {% for photo in object_list %}
            <li class="photo">
                {{ photo.name }}
                {{ photo.date_create }}
                {% if  photo.photo %}
                    {{ photo.photo.url }}
                    <img src="{{ MEDIA_URL }}{{ photo.photo }}"/>
                {% endif %}

            </li>
        {% endfor %}
    </ul>

    <a href="{% url "userphoto-new" %}">Добавить новую</a>

{% endblock %}