{% load staticfiles %}
{% load app_filters %}
<html>
<head>
    <link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css' %}"
          rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="{% static 'lightsite/style.css' %}"/>
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.js' %}"></script>


</head>
<body>
<header class="navbar navbar-static-top app_header">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand app_header_brand" href="{% url "main" %}">Detector</a>
        </div>
        <nav id="bs-navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url "company-list" %}">Компании</a>
                    </li>
                    <li>
                        <a href="{% url "statistic-list" %}">Статистика</a>
                    </li>
                    {% if user|has_group:"admin" %}
                        <li>
                            <a href="{% url "admin-statistic-list" %}">Полная статистика</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--<li style="padding-top: 15px;  padding-bottom: 15px;">{{ user }}</li>-->
                {% if user.is_anonymous %}
                    <li><a href="{% url 'auth_login' %}">
                        Войти&nbsp;<span class="glyphicon glyphicon-log-in"></span></a>
                    </li>
                {% else %}
                    <li><a href="{% url 'auth_logout' %}?next=/">
                        Выйти&nbsp;<span class="glyphicon glyphicon-log-out"></span></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>
<div id="alert_placeholder" class="app_alert"></div>

<script type="text/javascript" src="{% static "lightsite/js/base.js" %}"></script>
{% block content %}
{% endblock %}
</body>
</html>