{% load staticfiles %}
<div class="row app_row_border">


    <div class=" col-xs-6">
        <h2>{{ company.name }}

        </h2>

        <div id="logos_{{ company.pk }}" class="app_photo" style="margin-bottom: 10px">
            {% if company.logos %}
                {% for logo in company.logos %}
                    {% include "lightsite/logo_img_snippet.html" %}
                {% endfor %}
                <!-- % else %}
                    <p>Не добавлено ни одного логотипа</p>-->
            {% endif %}
        </div>

        <a data-company_id="{{ company.pk }}"
           id="load_logo_company{{ company.pk }}"
           class="btn btn-success load_logo_company">
            <span class="glyphicon glyphicon glyphicon-plus"></span>
            логотип</a>
        <img id="spinner_load{{ company.pk }}" src="{% static 'lightsite/images/2.GIF' %}"
             style="visibility:hidden;  "/>
    </div>

    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Превью &nbsp;
                <a href="{% url 'company-view' company.pk %}" title="посмотреть" style="font-size: medium;">
                    <span class="glyphicon glyphicon-eye-open"></span></a>
                &nbsp;
                <a href="{% url 'company-edit' company.pk %}" title="редактировать" style="font-size: medium;">
                    <span class="glyphicon glyphicon-pencil"></span></a>
            </div>
            <div class="panel-body">
                {% if company.invites %}
                    {% for inv in company.invites %}
                        <div class="app_qwe">{{ inv.html | safe }}</div>
                    {% endfor %}

                {% else %}
                    Страница-приветствие еще не создана
                {% endif %}
            </div>
        </div>

    </div>


    <form id="loadLogoForm{{ company.pk }}" enctype="multipart/form-data" style="display:none">
        {% csrf_token %}
        <input class="file_logo" id="file_id{{ company.pk }}" data-company_id="{{ company.pk }}" name="photo"
               type="file" accept="image/*">
        <input name="company_id" value="{{ company.pk }}" style="visibility:hidden">
    </form>

</div>