{% extends "lightsite/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="app_login">

        Ваши компании
    </div>
    <div class="app_content">
        {% for company in object_list %}
            {% include "lightsite/company_snippet.html" %}

        {% empty %}
            <div class="row app_row">
                Вы не сопровождаете ни одну компанию.
            </div>
        {% endfor %}

        <div class="row app_row">
            <a class="btn btn-warning" href="{% url 'company-new' %}">
                <span class="glyphicon glyphicon glyphicon-plus"></span>
                Добавить компанию</a>
        </div>
    </div>

    <script type="text/javascript" src="{% static "lightsite/js/company_snippet.js" %}"></script>
    <script type="text/javascript" src="{% static "lightsite/js/list_company.js" %}"></script>
{% endblock %}