{% extends "lightsite/base.html" %}

{% block content %}
    <div class="app_login">

        Статистика
    </div>
    <div class="app_content">

        {% for obj in object_list %}
            <div class="panel panel-success">
                <div class="panel-heading">
                    {{ obj.company.name  }}
                </div>
                <div class="panel-body">
                    {% if obj.logos %}
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Логотип</th>
                                <th>Учавствовал в поиске</th>
                                <th>Был переход</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for obg_logo in obj.logos %}
                                <tr >
                                    <td><img src="{{ MEDIA_URL }}{{ obg_logo.logo.photo }}"
                                             style="width:50px; height: 50px"/></td>
                                    <td style="vertical-align: middle;">{{ obg_logo.searchCount }}</td>
                                    <td style="vertical-align: middle;">{{ obg_logo.redirectCount }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>
                            Для компании не добавлен ни один логотип.
                        </p>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <div class="row app_row">
                У Вас нет компаний.
            </div>
        {% endfor %}


    </div>

{% endblock %}