{% extends "lightsite/base.html" %}

{% block content %}
    <div class="app_login">
        Общая статистика
    </div>
    <div class="app_content">
    {% for obj in object_list %}
        <h2>{{ obj.user.username }}</h2>
        {% for company_obj in obj.companies %}
            <div class="panel panel-success">
                <div class="panel-heading">
                    {{ company_obj.company.name  }}
                </div>
                <div class="panel-body">
                    {% if company_obj.logos %}
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Логотип</th>
                                <th>Учавствовал в поиске</th>
                                <th>Был переход</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for obg_logo in company_obj.logos %}
                                <tr >
                                    <td><img src="{{ MEDIA_URL }}{{ obg_logo.logo.photo }}"
                                             style="width:50px; height: 50px"/></td>
                                    <td style="vertical-align: middle;">{{ obg_logo.searchCount }}</td>
                                    <td style="vertical-align: middle;">{{ obg_logo.redirectCount }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>
                            Для компании не добавлен ни один логотип.
                        </p>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <div class="row app_row">
                У пользователя нет компаний.
            </div>
        {% endfor %}
    {% empty %}
        <div class="row app_row">
            Нет пользователей.
        </div>
    {% endfor %}

    </div>

{% endblock %}