{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

    <div class="app_login">

        Представьтесь, пожалуйста
    </div>

    <div class="app_content row">
        <form method="post" action="." class="col-xs-6">
            {% csrf_token %}



            {% if form.non_field_errors %}
                <div class="row app_row has-error">
                    {% for error in form.non_field_errors %}
                        <label class="control-label">{{ error|escape }}</label>
                    {% endfor %}

                </div>

            {% endif %}

            <div class="row app_row">
                <label class="col-xs-2 control-label">Логин</label>

                <div class="col-sm-5" style="width:400px">
                    {% render_field form.username class="form-control" placeholder="Логин" %}

                    {% if form.username.errors %}
                        <div class=" has-error">
                            {% for error in form.username.errors %}
                                <label class="control-label">{{ error|escape }}</label>
                            {% endfor %}
                        </div>

                    {% endif %}
                </div>


            </div>
            <div class="row app_row">
                <label class="col-sm-2 control-label">Пароль</label>

                <div class="col-sm-5" style="width:400px">
                    {% render_field form.password class="form-control" type="password" placeholder="Пароль" %}

                    {% if form.password.errors %}
                        <div class=" has-error">
                            {% for error in form.password.errors %}
                                <label class="control-label">{{ error|escape }}</label>
                            {% endfor %}
                        </div>

                    {% endif %}
                </div>


            </div>
            <div class="row app_row">
                <div class="col-xs-offset-2 col-sm-5">
                    <button type="submit" class="btn btn-success">Войти</button>
                    <a href="{% url 'auth_password_reset' %}">Забыли пароль?</a>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>
            </div>

        </form>
        <div class="col-xs-6">
            <div class="row app_row"
                 style="display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;">
                <a href="{% url 'registration_register' %}" class="btn btn-lg btn-success"

                        >
                    Зарегистрируйтесь</a>
            </div>
            <div class="row app_row" style="  text-align: center;">
                И тогда люди смогут узнать о Вас по фотографии!
            </div>


        </div>
    </div>
{% endblock %}
