{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

    <div class="app_login">

        Представьтесь, пожалуйста
    </div>

    <div class="app_content">
        <form method="post" action=".">
            {% csrf_token %}



            {% if form.non_field_errors %}
                <div class="row app_row has-error">
                    {% for error in form.non_field_errors %}
                        <label class="control-label">{{ error|escape }}</label>
                    {% endfor %}

                </div>

            {% endif %}

            <div class="row app_row">
                <label class="col-xs-1 control-label">Логин</label>

                <div class="col-sm-5" style="width:400px">
                    {% render_field form.username class="form-control" placeholder="Логин" %}
                </div>

                {% if form.username.errors %}
                    <div class="col-sm-4 has-error">
                        {% for error in form.username.errors %}
                            <label class="control-label">{{ error|escape }}</label>
                        {% endfor %}
                    </div>

                {% endif %}
            </div>
            <div class="row app_row">
                <label class="col-sm-1 control-label">Пароль</label>

                <div class="col-sm-5" style="width:400px">
                    {% render_field form.password class="form-control" type="password" placeholder="Пароль" %}
                </div>

                {% if form.password.errors %}
                    <div class="col-sm-4 has-error">
                        {% for error in form.password.errors %}
                            <label class="control-label">{{ error|escape }}</label>
                        {% endfor %}
                    </div>

                {% endif %}
            </div>
            <div class="row app_row">
                <div class="col-sm-offset-1 col-sm-10">
                    <button type="submit" class="btn btn-default">Войти</button>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </div>
            </div>

            <div class="row app_row">
                <p>Забыли пароль? <a href="{% url 'auth_password_reset' %}">Сбросьте</a>, и делов то!</p>

                <p>Не зарегистрированы? <a href="{% url 'registration_register' %}">Вперед</a>!</p>
            </div>
        </form>

    </div>
{% endblock %}
