{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

    <div class="app_login">

        Смена пароля.
    </div>
    <div class="app_content">
        <form method="post" action=".">
            {% csrf_token %}


            <div class="row app_row">
                <label class="col-sm-2 control-label">Старый пароль</label>

                <div class="col-sm-10" style="width:400px">
                    {% render_field form.old_password class="form-control" type="password" %}
                </div>

                {% if form.old_password.errors %}
                    <div class="col-sm-4 has-error">
                            {% for error in form.old_password.errors %}
                               <label class="control-label" >{{ error|escape }}</label>
                            {% endfor %}
                    </div>

                {% endif %}
            </div>

            <div class="row app_row">
                <label class="col-sm-2 control-label">Новый пароль</label>

                <div class="col-sm-10" style="width:400px">
                    {% render_field form.new_password1 class="form-control" type="password" %}
                </div>

                {% if form.new_password1.errors %}
                    <div class="col-sm-4 has-error">
                            {% for error in form.new_password1.errors %}
                               <label class="control-label" >{{ error|escape }}</label>
                            {% endfor %}
                    </div>

                {% endif %}
            </div>

            <div class="row app_row">
                <label class="col-sm-2 control-label">Подтверждение</label>

                <div class="col-sm-10" style="width:400px">
                    {% render_field form.new_password2 class="form-control" type="password" %}
                </div>

                {% if form.new_password2.errors %}
                    <div class="col-sm-4 has-error">
                            {% for error in form.new_password2.errors %}
                               <label class="control-label" >{{ error|escape }}</label>
                            {% endfor %}
                    </div>

                {% endif %}
            </div>

            <div class="row app_row">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Сменить</button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}
