{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

    <div class="app_login">

        Регистрация. Добро пожаловать!
    </div>
    <div class="app_content">
        <form method="post" action=".">
            {% csrf_token %}

            <div class="row app_row">
                <label class="col-xs-2 control-label">Логин</label>

                <div class="col-sm-5" style="width:400px">
                    {% render_field form.username class="form-control" %}
                </div>

                {% if form.username.errors %}
                    <div class="col-sm-4 has-error">
                            {% for error in form.username.errors %}
                               <label class="control-label" >{{ error|escape }}</label>
                            {% endfor %}
                    </div>

                {% endif %}
            </div>

            <div class="row app_row">
                <label class="col-xs-2 control-label">Почта</label>

                <div class="col-sm-10" style="width:400px">
                    {% render_field form.email class="form-control" type="email" %}
                </div>

                {% if form.email.errors %}
                    <div class="col-sm-4 has-error">
                            {% for error in form.email.errors %}
                               <label class="control-label" >{{ error|escape }}</label>
                            {% endfor %}
                    </div>

                {% endif %}
            </div>

            <div class="row app_row">
                <label class="col-sm-2 control-label">Пароль</label>

                <div class="col-sm-10" style="width:400px">
                    {% render_field form.password1 class="form-control" type="password" %}
                </div>

                {% if form.password1.errors %}
                    <div class="col-sm-4 has-error">
                            {% for error in form.password1.errors %}
                               <label class="control-label" >{{ error|escape }}</label>
                            {% endfor %}
                    </div>

                {% endif %}
            </div>

            <div class="row app_row">
                <label class="col-sm-2 control-label">Подтверждение</label>

                <div class="col-sm-10" style="width:400px">
                    {% render_field form.password2 class="form-control" type="password" %}
                </div>

                {% if form.password2.errors %}
                    <div class="col-sm-4 has-error">
                            {% for error in form.password2.errors %}
                               <label class="control-label" >{{ error|escape }}</label>
                            {% endfor %}
                    </div>

                {% endif %}
            </div>

            <div class="row app_row">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Зарегистрироваться</button>
                </div>
            </div>

        </form>
    </div>
{% endblock %}
