body {
    background-color: #eeeeee;
}

.app_header {
    margin-bottom: 0;
    background-color: #cdbfe3;
}

.app_header li > a {
    font-weight: 500;
    color: #563d7c;
}

.app_header_brand {
    font-weight: 500;
    color: #563d7c;
}

.app_photo div {
    display: inline-block;
    margin: 2px 0px;
}

.app_photo img {
    width: 100px;
    height: 100px;
}

.app_hi {
    padding-top: 60px;
    padding-bottom: 0px;
    margin-bottom: 40px;
    font-size: 24px;
    text-align: center;
    position: relative;
    color: #cdbfe3;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: #6f5499;
    background-image: linear-gradient(to bottom, #563d7c 0, #6f5499 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    background-repeat: repeat-x;
}

.app_login {
    padding: 60px;
    margin-bottom: 40px;
    font-size: 24px;
    position: relative;
    color: #cdbfe3;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: #6f5499;
    background-image: linear-gradient(to bottom, #563d7c 0, #6f5499 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    background-repeat: repeat-x;
}

.app_content {
    padding-left: 60px;
    padding-right: 60px;
}

.app_row {
    margin-bottom: 15px;
    border: 2px solid #cdbfe3;
    border-radius: 4px;
    padding: 15px;
}

.app_preview {
    border: 2px solid #cdbfe3;
    border-radius: 4px;
    padding: 5px;
}

.app_photo_list {
    background-color: #A8A8A8;
    background-image: linear-gradient(to bottom, #D8D8D8 0, #A8A8A8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D8D8D8 ', endColorstr='#A8A8A8', GradientType=0);
    background-repeat: repeat-x;
}

.app_photo_result {
    min-height: 277px;
    font-size: 24px;
    position: relative;
    color: #cdbfe3;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: #6f5499;
    background-image: linear-gradient(to bottom, #563d7c 0, #6f5499 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
    background-repeat: repeat-x;
}

.app_img_res {
    width: 300px;
}

.app_div_res {
    border: 4px solid #4cae4c;
    background: #4cae4c;
    width: 308px;
}

.app_btn_start {
    color: #fff;
    background-color: transparent;
    border-color: #cdbfe3;
}

.app_btn_start:hover {
    color: #563d7c;
    text-shadow: none;
    background-color: #fff;
    border-color: #fff;
}

.app_alert {
    position: absolute;
    z-index: 100;
}

.app_photo_s {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 1000;
    left: 45%;
    background: url("images/black_big.GIF")
}

.app_logo_img {
    left: -25px;
    font-size: 25px;
}

.app_scale {
    -ms-transform: scale(2,3); /* IE 9 */
    -webkit-transform: scale(2,3); /* Safari */
    transform: scale(2,3);
}

.app_qwe {
  zoom: 0.5;
-ms-zoom: 0.5;
-webkit-zoom: 0.5;
-moz-transform:  scale(0.5,0.5);
-moz-transform-origin: left center
}

​